/**
 * @file
 * Adds styling to the better node menu form.
 */

#menu-overview .form-item {
  display: inline-block;
  width: 60%;
}
#menu-overview .form-text {
  width: auto;
}
#menu-overview tr.active {
  background-color: #6bc3f6;
  border: solid 1px #4186ad;
}
#menu-overview tr.active a.tabledrag-handle .handle {
  background-position: 6px -30px;
  margin: -0.3em 0.5em;
}
#menu-overview tr.active input {
  padding: 5px;
  border: solid 1px #4186ad;
}
#menu-overview tr.active input.error {
  border: 2px solid red;
}
